{% extends 'base.html' %}
{% block title %}index.html{% endblock %}


{% block content %}

    <div class="row">
        <div class="col-xs-12 col-md-6 col-md-offset-3 col-lg-6 col-lg-offset-3 opaque-white">
            <div id="site-title">
                <h1>Spot my School</h1>
                <h4>Find law schools that match your stats</h4>
                <div id="main-links">
                    {% if "user_id" in session %}
                        <h3><a href="/school_query">Find my schools</a></h3>
                    {% else %}
                        <h3><a href="/login">Log in</a> or <a href="/register">Register</a></h3>
                    {% endif %}
                    <h3><a href="/schools">Browse all law schools</a></h3>
                </div>
            </div>
        </div>
    </div>


{% endblock %}