{% extends 'base.html' %}
{% block title %}US law schools -- alphabetical{% endblock %}

{% block content %}
    <h1>ABA-accredited law schools in the US: 2013 data</h1>

    <ul>
        {% for school in schools %}
        <li><p><a href="schools/{{ school.school_id }}">{{ school.school_name }}</a><br/>
            {{ school.address }}<br/>
            Applications: {{ school.applications }}. Admit rate: {{ school.admit_rate }}.
            </p>
            {% if session %}
                <input type='button' value='Add to my schools' data-school-id="{{ school.school_id }}" data-admission-chance="None" class="school_add_button" id="{{ school.school_id }}">
            {% endif %}
        </li>
        {% endfor %}
    </ul>

{% endblock %}

{% block js %}
<script src="/static/js/add_to_school_list.js"></script>
{% endblock %}