{% extends 'base.html' %}
{% block title %}US law schools -- alphabetical{% endblock %}

{% block content %}
    <!-- List info about ABA-accredited US law schools, alphabetical -->
    <h1>ABA-accredited law schools in the US: 2013 data</h1>

    <ul>
        {% for school in schools %}
        <li><p><a href="schools/{{ school.school_id }}">{{ school.school_name }}</a><br/>
            {{ school.address }}<br/>
            Applications: {{ school.applications }}. Admit rate: {{ school.admit_rate }}.
            </p>
            <!-- If user in session, let them add school to their list/write to db -->
            {% if session %}
                {% if school.school_id in user_schools %}
                    <input type='button' value='This school is in your list' data-school-id="{{ school.school_id }}" data-admission-chance="None" class="school_add_button" id="{{ school.school_id }}" disabled>
                {% else %}
                    <input type='button' value='Add to my schools' data-school-id="{{ school.school_id }}" data-admission-chance="None" class="school_add_button" id="{{ school.school_id }}">
                {% endif %}
            {% endif %}


        </li>
        {% endfor %}
    </ul>

{% endblock %}

{% block js %}
<script src="/static/js/add_to_school_list.js"></script>
{% endblock %}