{% extends 'base.html' %}
{% block title %}US law schools -- alphabetical{% endblock %}

{% block content %}

<div class="row">
    <div class="col-xs-12 opaque-white">
        <!-- List info about ABA-accredited US law schools, alphabetical -->
        <h2>ABA-accredited US law schools</h2>

            {% for school in schools %}
            <div class="law-school-info">
                <h4><a href="schools/{{ school.school_id }}">{{ school.school_name }}</a></h4>
                <p>{{ school.address }}<br/>
                Applications: {{ school.applications }}. Admit rate: {{ school.admit_rate }}.
                </p>
                <!-- If user in session, show "add to my schools" buttons; disable if already in list-->
                {% if session %}

                    <!-- assign admission chance based on categorization of school -->
                    {% if school in safety_schools %}
                        <!-- let user add school to their list with admission chance Safety  -->
                        {% if school.school_id in user_schools %}
                            <input type='button' value='Added to my schools' data-school-id="{{ school.school_id }}" data-admission-chance="Safety" class="school_add_button" id="{{ school.school_id }}" disabled>
                        {% else %}
                            <input type='button' value='Add to my schools' data-school-id="{{ school.school_id }}" data-admission-chance="Safety" class="school_add_button" id="{{ school.school_id }}">
                        {% endif %}

                    {% elif school in match_schools %}
                        <!-- let user add school to their list with admission chance Match -->
                        {% if school.school_id in user_schools %}
                            <input type='button' value='Added to my schools' data-school-id="{{ school.school_id }}" data-admission-chance="Match" class="school_add_button" id="{{ school.school_id }}" disabled>
                        {% else %}
                            <input type='button' value='Add to my schools' data-school-id="{{ school.school_id }}" data-admission-chance="Match" class="school_add_button" id="{{ school.school_id }}">
                        {% endif %}

                    {% elif school in stretch_schools %}
                        <!-- let user add school to their list with admission chance Stretch  -->
                        {% if school.school_id in user_schools %}
                            <input type='button' value='Added to my schools' data-school-id="{{ school.school_id }}" data-admission-chance="Stretch" class="school_add_button" id="{{ school.school_id }}" disabled>
                        {% else %}
                            <input type='button' value='Add to my schools' data-school-id="{{ school.school_id }}" data-admission-chance="Stretch" class="school_add_button" id="{{ school.school_id }}">
                        {% endif %}

                    {% elif school in split_schools %}
                        <!-- let user add school to their list with admission chance Split  -->
                        {% if school.school_id in user_schools %}
                            <input type='button' value='Added to my schools' data-school-id="{{ school.school_id }}" data-admission-chance="Split" class="school_add_button" id="{{ school.school_id }}" disabled>
                        {% else %}
                            <input type='button' value='Add to my schools' data-school-id="{{ school.school_id }}" data-admission-chance="Split" class="school_add_button" id="{{ school.school_id }}">
                        {% endif %}
                    {% else %}
                        <!-- let user add school to their list with admission chance Uncategorized -->
                        {% if school.school_id in user_schools %}
                            <input type='button' value='Added to my schools' data-school-id="{{ school.school_id }}" data-admission-chance="Uncategorized" class="school_add_button" id="{{ school.school_id }}" disabled>
                        {% else %}
                            <input type='button' value='Add to my schools' data-school-id="{{ school.school_id }}" data-admission-chance="Uncategorized" class="school_add_button" id="{{ school.school_id }}">
                        {% endif %}

                    <!-- end assign-admission-chance -->
                    {% endif %}

                <!-- end if session -->
                {% endif %}

            </div>
            {% endfor %}
        
    <!-- close bootstrap column & row divs -->
    </div>
</div>

{% endblock %}

{% block js %}
<script src="/static/js/add_to_school_list.js"></script>
{% endblock %}