{% extends 'base.html' %}
{% block title %}{{school.school_name}} profile{% endblock %}

{% block head %}
    <!-- js for school map display -->
    <style>
      #map {
        width: 500px;
        height: 400px;
      }
    </style>
    <script src="https://maps.googleapis.com/maps/api/js"></script>
    <script>
        function initialize() {
            var mapCanvas = document.getElementById('map');
            var mapCenter = {lat:{{ lat }}, lng:{{ lng }}} 
            var mapOptions = {
                center: mapCenter,
                zoom: 13,
                mapTypeId: google.maps.MapTypeId.ROADMAP
            }
            var map = new google.maps.Map(mapCanvas, mapOptions);
            var marker = new google.maps.Marker({
                position: mapCenter,
                map: map,
                title: document.getElementById("map").getAttribute("data-address")
  });
        }
        google.maps.event.addDomListener(window, 'load', initialize);
    </script>

{% endblock %}

{% block content %}

<!-- Display school name and statistics -->
<h1><a href="{{ school.url }}">{{ school.school_name }}</a></h1>
<h3>{{ school.address }}</h3>

<!-- map window -->
<div id="map" data-address="{{ school.school_name }}, {{ school.address }}"></div>

    <!-- If user in session, show "add to my schools" buttons; disable if already in list-->
    {% if session %}

        <!-- assign admission chance based on categorization of school -->
        {% if school in safety_schools %}
            <!-- let user add school to their list with admission chance Safety  -->
            {% if school.school_id in user_schools %}
                <input type='button' value='Added to my schools' data-school-id="{{ school.school_id }}" data-admission-chance="Safety" class="school_add_button" id="{{ school.school_id }}" disabled>
            {% else %}
                <input type='button' value='Add to my schools' data-school-id="{{ school.school_id }}" data-admission-chance="Safety" class="school_add_button" id="{{ school.school_id }}">
            {% endif %}

        {% elif school in match_schools %}
            <!-- let user add school to their list with admission chance Match -->
            {% if school.school_id in user_schools %}
                <input type='button' value='Added to my schools' data-school-id="{{ school.school_id }}" data-admission-chance="Match" class="school_add_button" id="{{ school.school_id }}" disabled>
            {% else %}
                <input type='button' value='Add to my schools' data-school-id="{{ school.school_id }}" data-admission-chance="Match" class="school_add_button" id="{{ school.school_id }}">
            {% endif %}

        {% elif school in stretch_schools %}
            <!-- let user add school to their list with admission chance Stretch  -->
            {% if school.school_id in user_schools %}
                <input type='button' value='Added to my schools' data-school-id="{{ school.school_id }}" data-admission-chance="Stretch" class="school_add_button" id="{{ school.school_id }}" disabled>
            {% else %}
                <input type='button' value='Add to my schools' data-school-id="{{ school.school_id }}" data-admission-chance="Stretch" class="school_add_button" id="{{ school.school_id }}">
            {% endif %}

        {% elif school in split_schools %}
            <!-- let user add school to their list with admission chance Split  -->
            {% if school.school_id in user_schools %}
                <input type='button' value='Added to my schools' data-school-id="{{ school.school_id }}" data-admission-chance="Split" class="school_add_button" id="{{ school.school_id }}" disabled>
            {% else %}
                <input type='button' value='Add to my schools' data-school-id="{{ school.school_id }}" data-admission-chance="Split" class="school_add_button" id="{{ school.school_id }}">
            {% endif %}
        {% else %}
            <!-- let user add school to their list with admission chance Uncategorized -->
            {% if school.school_id in user_schools %}
                <input type='button' value='Added to my schools' data-school-id="{{ school.school_id }}" data-admission-chance="Uncategorized" class="school_add_button" id="{{ school.school_id }}" disabled>
            {% else %}
                <input type='button' value='Add to my schools' data-school-id="{{ school.school_id }}" data-admission-chance="Uncategorized" class="school_add_button" id="{{ school.school_id }}">
            {% endif %}

        <!-- end assign-admission-chance -->
        {% endif %}

    <!-- end if session -->
    {% endif %}

<!-- display useful info about school in profile -->
<h3>Admission Statistics:</h3>

<ul>
    <li>Applications received: {{ school.applications }}</li>
    <li>Admit rate: {{ school.admit_rate }}</li>
    <li>GPA 75th percentile: {{ school.gpa_75 }}</li>
    <li>GPA 50th percentile: {{ school.gpa_50 }}</li>
    <li>GPA 25th percentile: {{ school.gpa_25 }}</li>
    <li>LSAT 75th percentile: {{ school.lsat_75 }}</li>
    <li>LSAT 50th percentile: {{ school.lsat_50 }}</li>
    <li>LSAT 25th percentile: {{ school.lsat_25 }}</li>
</ul>

<h3>Financial Data:</h3>
<ul>
    <li>Resident tuition per year: ${{ school.resident_tuition }}</li>
    <li>Nonresident tuition per year: ${{ school.nonresident_tuition }}</li>
    <li>Living expenses, single student living off-campus: ${{ school.living_expense }}</li>
</ul>

{% endblock %}

{% block js %}
    <script src="/static/js/add_to_school_list.js"></script>
    <!-- gmaps api <script src="https://maps.googleapis.com/maps/api/js"></script> -->
{% endblock %}