{% extends 'base.html' %}
{% block title %}{{school.school_name}} profile{% endblock %}

{% block content %}

<h1><a href="{{ school.url }}">{{ school.school_name }}</a></h1>
<h3>{{ school.address }}</h3>

<!-- If user in session, let them add school to their list/write to db -->
            {% if session %}
                <!-- Check if school in user list & deactivate button accordingly -->
                {% if school.school_id in user_schools %}
                    <input type='button' value='This school is in your list' data-school-id="{{ school.school_id }}" data-admission-chance="None" class="school_add_button" id="{{ school.school_id }}" disabled>
                {% else %}
                    <input type='button' value='Add to my schools' data-school-id="{{ school.school_id }}" data-admission-chance="None" class="school_add_button" id="{{ school.school_id }}">
                {% endif %}
            {% endif %}

<!-- display useful info about school in profile -->
<h3>Admission Statistics:</h3>

<ul>
    <li>Applications received: {{ school.applications }}</li>
    <li>Admit rate: {{ school.admit_rate }}</li>
    <li>GPA 75th percentile: {{ school.gpa_75 }}</li>
    <li>GPA 50th percentile: {{ school.gpa_50 }}</li>
    <li>GPA 25th percentile: {{ school.gpa_25 }}</li>
    <li>LSAT 75th percentile: {{ school.lsat_75 }}</li>
    <li>LSAT 50th percentile: {{ school.lsat_50 }}</li>
    <li>LSAT 25th percentile: {{ school.lsat_25 }}</li>
</ul>

<h3>Financial Data:</h3>
<ul>
    <li>Resident tuition per year: ${{ school.resident_tuition }}</li>
    <li>Nonresident tuition per year: ${{ school.nonresident_tuition }}</li>
    <li>Living expenses, single student living off-campus: ${{ school.living_expense }}</li>
</ul>

{% endblock %}

{% block js %}
<script src="/static/js/add_to_school_list.js"></script>
{% endblock %}