<!DOCTYPE html>
<html>
<head>
    <title>test charts</title>
    <!-- Javascript Imports -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/1.0.2/Chart.js"></script>

</head>
<body>


    <h2>GPA</h2>

    <div class="gpa-chart">
        <canvas id="gpaChart" width="250" height="200"></canvas>
        <div id="gpaLegend" class="chart-legend"></div>
    </div>

    <h2>LSAT</h2>

    <div class="lsat-chart">
        <canvas id="lsatChart" width="250" height="200"></canvas>
        <div id="lsatLegend" class="chart-legend"></div>
    </div>


    <script>

    var gpaData = {
        labels: ['My GPA', '25th percentile', '50th percentile', '75th percentile'],
        datasets: [
            {
                label: 'GPA comparison',
                fillColor: '#6699ff',
                data: [3.45, 3.25, 3.5, 3.75]
            }
        ]
    };


    var lsatData = {
        labels: ['My LSAT', '25th percentile', '50th percentile', '75th percentile'],
        datasets: [
            {
                label: 'LSAT comparison',
                fillColor: '#6699ff',
                data: [160, 155, 161, 167]
            }
        ]
    };

    var gpaOptions = { 
        scaleBeginAtZero: false,
        }
    var context = document.getElementById('gpaChart').getContext('2d');
    var gpaChart = new Chart(context).Bar(gpaData, gpaOptions);

    var lsatOptions = { 
        scaleBeginAtZero: false,
        }
    var contextTwo = document.getElementById('lsatChart').getContext('2d');
    var lsatChart = new Chart(contextTwo).Bar(lsatData, lsatOptions);

    </script>



</body>
</html>