{% extends 'base.html' %}
{% block title %}{{ user.email }}: profile{% endblock %}

{% block content %}

<!-- Display basic user info -->
<h2>{{ user.email }}</h2>

<ul>
    <li>Your GPA: <span id="user-gpa">{{ user.gpa }}</span><br/>
        <!-- let user update gpa if needed -->
        <form method="post" id="update-gpa">
            Update your GPA: <input type="text" name="gpa" id="gpa" value="{{ user.gpa }}"><br/>
            <input type="submit" value="Update GPA">
        </form>
    </li>
    <li>Your LSAT score: <span id="user-lsat">{{ user.lsat }}</span><br/>
        <!-- let user update lsat score if needed -->
        <form method="post" id="update-lsat">
            Update your LSAT score: <input type="text" name="lsat" id="lsat" value="{{ user.lsat }}"><br/>
            <input type="submit" value="Update LSAT">
        </form>
    </li>
</ul>

<h3><a href="/school_query">Browse your law school matches</a></h3>

<!-- If user has added schools to their list, display that list -->
{% if school_list: %}

    <h3>Your selected law schools</h3>
    <ul>
        {% for item in school_list %}
            <li>
                <h3><a href="schools/{{ item.school_id }}">{{ item.school_name }}</a></h3>
                {{ item.address }}<br/>
                Admission chance: {{ item.admission_chance }}<br/>
                Application submitted: 
                {% if item.app_submitted == 0 %}
                    <span id="{{ item.school_id }}">No</span><br/>
                    <!-- button to let user change app_submitted field to yes (boolean 1) -->
                    <input type="button" value="I submitted this application!" class="app-submitted" data-school-id="{{ item.school_id }}">
                {% elif item.app_submitted == 1 %}
                    Yes
                {% endif %}
            </li>
        {% endfor %}
    </ul>

{% endif %}


{% endblock %}

{% block js %}
    <script src="/static/js/update_user_gpa.js"></script>
    <script src="/static/js/update_user_lsat.js"></script>
    <script src="/static/js/update_app_submission.js"></script>
{% endblock %}