{% extends 'base.html' %}
{% block title %}{{ user.email }}: profile{% endblock %}

{% block content %}

<h2>{{ user.email }}</h2>

<ul>
    <li>Your GPA: {{ user.gpa }}</li>
    <li>Your LSAT score: {{ user.lsat }}</li>
</ul>

<h3><a href="/school_query">Browse your law school matches</a></h3>

<h3>Your selected law schools</h3>

<ul>
    {% for item in school_list %}

        <li>
            <h3><a href="schools/{{ item.school_id }}">{{ item.school_name }}</a></h3>
            {{ item.address }}</br>
            Admission chance: {{ item.admission_chance }}</br>
            {% if item.app_submitted == 0 %}
                Application submitted: No
            {% elif item.app_submitted == 1 %}
                Application submitted: Yes
            {% endif %}
        </li>

    {% endfor %}
</ul>

{% endblock %}